@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-accent-dark: #34d399;
  --color-accent-light: #10b981;
  --color-primary-dark: #6366f1;
  --color-primary-light: #4f46e5;
  --color-secondary-dark: #f472b6;
  --color-secondary-light: #ec4899;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;
  --color-dark: #111827;
  --color-light: #f9fafb;
  --color-background-light: #ffffff;
  --color-background-dark: #242424;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #242424;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  body {
    @apply text-neutral-800 dark:text-neutral-100 bg-white dark:bg-background-dark;
  }

  a {
    @apply text-accent-light hover:text-accent-dark dark:text-accent-dark dark:hover:text-accent-light;
  }
}
